$primary-gray: #e9e9e9;
$primary-gray-5d: darken($primary-gray, 5%);
$primary-gray-10d: darken($primary-gray, 10%);
$primary-gray-30d: darken($primary-gray, 30%);
$primary-gray-40d: darken($primary-gray, 40%);
$primary-gray-60d: darken($primary-gray, 60%);
$primary-gray-90d: darken($primary-gray, 90%);
$primary-gray-5l: lighten($primary-gray, 5%);
