@import "Variables";

@page {
    margin: .25in;
}

html,
body {
    margin: 0;
    font-family: Garamond, 'Times New Roman', serif;
}

body {
    width: 8in;
    height: 10.5in;
    font-size: 10pt;
    background-color: transparent;
    overflow-y: auto;
}

header {
    padding: 0;
    margin: 0 0 2mm 0;
    border-bottom: .5mm solid $primary-gray-10d;
    background-color: transparent;
    font-size: 10pt;

    .About {
        margin: 0;
        padding: 0;
        border: none;

        .col {
            padding: 0;
            margin: 0;
            color: #000;

            &.Name {
                float: left;
                width: auto;
                border-right: none;
                font-size: 24pt;
                font-weight: bold;
                text-align: left;
                vertical-align: middle;
            }

            &.Roles {
                float: right;
                padding: 4mm 0 0 0;
                width: auto;
                text-align: right;
                vertical-align: middle;

                li {
                    padding: 0 2mm;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    nav,
    #navbar-toggle {
        display: none !important;
    }
}

#Content {
    padding: 0;

    #PageContent {
        padding: 0;
        border: none;
        background-color: transparent;

        h1,
        h2 {
            text-transform: none;
        }

        h1 > span,
        h2 > span {
            padding: 0;
            border: none;
            background-color: transparent;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        h1 {
            margin: 0;
            border-bottom: .5mm solid $primary-gray;
            font-size: 18pt;
            font-weight: bold;

            &:nth-of-type(1n+2) {
                margin-top: 5mm;
            }

            > span {
                padding: 0;
            }

            + h2 {
                margin-top: 0;
            }
        }

        h2 {
            margin: 2mm 0 0 0;
            font-size: 14pt;

            &.history-item {
                span {
                    margin: 0;
                    padding: 0;
                }

                .organization-link {
                    display: none;
                }
            }

            > span {
                padding-top: 0;
                padding-bottom: 0;
            }

            + h3 {
                margin-top: 0;
            }
        }

        h3,
        h4,
        h5 {
            margin: 2mm 0 0 0;
        }

        h3 {
            font-size: 12pt;
        }

        h4,
        h5 {
            font-size: 10pt;
        }

        ul {
            padding-left: 4mm;

            li {
                text-indent: -2mm;

                &:before {
                    left: -2mm;
                }

                ul {
                    margin-top: 0;
                    padding-left: 6mm;
                }
            }

            &.blocks {
                margin: 0;
                padding: 0;

                > li {
                    position: relative;
                    display: block;
                    margin: 0 0 2mm 0;
                    padding: 0;
                    width: 100%;
                    height: auto;
                    border: none;
                    page-break-inside: avoid;

                    h3 {
                        margin-top: 1mm;

                        .glyphicon {
                            display: none;
                        }

                        a.visit {
                            display: inline-block;
                            margin: 0 0 0 2mm;
                            font-size: 8pt;
                        }
                    }

                    .tagline {
                        position: absolute;
                        top: 1mm;
                        right: 0;
                        margin: 0;
                        font-style: italic;
                    }

                    .content {
                        height: auto;
                    }

                    ul.features {
                        position: static;
                        margin: 0;
                        padding: 0;
                        vertical-align: middle;
                        font-size: 8pt;

                        &:before {
                            content: 'Tech. Used: ';
                            font-style: italic;
                        }

                        li {
                            display: inline;
                            padding: 0 2mm;
                            margin: 0;
                            border: none;
                            vertical-align: middle;
                            font-size: 8pt;
                            line-height: normal;
                        }
                    }
                }
            }
        }

        a,
        a:link,
        a:active,
        a:visited,
        a:hover {
            color: #000;
            text-decoration: none;

            &:after {
                content: ' (' attr(href) ')';
            }
        }

        p,
        ol,
        ul {
            margin: 1mm 0;
            font-size: 10pt;
            text-align: justify;
        }

        .section {
            &:nth-of-type(1n+2) {
                h1 {
                    margin-top: 2mm;
                }
            }

            .subsection {
                margin: 0 0 2mm 0;
            }

            .history-item {
                page-break-inside: avoid;

                h2 {
                    > .row {
                        padding: 0;
                        margin: 0;

                        .col {
                            padding: 0;
                            margin: 0 !important;
                            width: 25%;

                            &.organization {
                                width: 50%;

                                .organization-link {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            &#section_overview {
                #subsection_self-rankings {
                    display: none;
                }
            }

            &#section_skills-and-tech {
                .subsection#subsection_certifications-and-skills,
                .subsection#subsection_technology {
                    clear: none;
                    margin: 0;
                    padding: 0;

                    &#subsection_certifications-and-skills {
                        float: left;
                        width: 3in;
                    }

                    &#subsection_technology {
                        float: right;
                        width: 4.75in;
                    }
                }
            }
        }

        form {
            display: none;
        }
    }
}

footer {
    margin: 4mm 0 0 0;
    padding: 0;
    font-size: 14pt;
    text-align: center;

    #FooterContent {
        padding: 0;
        border: none;

        a:link:after,
        a:visited:after {
            content: none;
        }
    }
}
