@import "bootstrap/_variables.scss";
@import "Variables";

@media screen and (max-width: $screen-xs-max) {
    header {
        position: relative;

        .About {
            .Name {
                font-size: 3em;

                @media (max-width: 430px) {
                    font-size: 2em;
                }
            }

            .Roles {
                padding: 0;

                li {
                    border: none;
                }
            }
        }

        #navbar-toggle {
            position: absolute;
            bottom: 0;
            right: 20px;
            border: none;
            background-color: transparent;
            font-size: 1.5em;
        }

        nav {
            display: none;

            a {
                /* 3 per line. */
                width: 33%;
                float: left;
                font-size: 1.5em;
                
                /* 2 per line. */
                @media (max-width: 600px) {
                    width: 50%;
                }

                /* 1 per line. */
                @media (max-width: 410px) {
                    float: none;
                    display: block;
                    width: auto;
                }
            }
        }
    }

    #Content {
        padding-right: 0;
        border-right: none;

        #PageContent {
            .section {
                .history-item {
                    h2 {
                        > .row {
                            .col {
                                padding: 0;

                                &.organization {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }

            ul.expertise {
                height: auto !important;
                max-height: 340px !important;
                margin-bottom: 10px;

                &.all {
                    max-height: none !important;
                }

                li {
                    position: relative;
                    float: left;
                    top: auto !important;
                    left: auto !important;
                    margin: 0 4px 4px 0;
                    height: 20px !important;
                    min-height: 30px !important;
                    line-height: 18px !important;

                    &,
                    &:hover {
                        $width: calc(50% - 2px);
                        
                        width: $width !important;
                        min-width: $width !important;
                    }

                    &:nth-child(2n) {
                        margin-right: 0;
                    }

                    span.rank {
                        display: block;
                        top: 5px;
                        right: 4px;
                        height: 20px;
                        border-right: none;
                        border-bottom: none;
                    }
                }
            }
            
            .expertise-btn {
                display: inline;
                text-decoration: none;
                cursor: pointer;

                .glyphicon {
                    margin: 10px;
                    font-size: .6em;
                }
            }
        }
    }

    footer {
        padding-right: 0;
        border-right: none;

        #FooterContent {
            &:after {
                clear: both;
            }

            .menu {
                a {
                    float: left;
                    border: none;

                    &:nth-child(even) {
                        float: right;
                    }
                }
            }
        }
    }
}
