html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif; }

body {
  font-size: 100%;
  background-color: #f6f6f6;
  overflow-x: hidden;
  overflow-y: scroll; }

header {
  padding: 0 40px;
  font-size: 1.8em;
  position: relative;
  z-index: 100;
  padding-top: 20px;
  border-bottom: 1px solid gainsboro;
  background-color: #e9e9e9; }
  header .About {
    margin: 0 !important;
    padding: 0 0 10px 0;
    border-bottom: 1px solid gainsboro; }
    header .About .Name {
      border-right: 1px solid gainsboro;
      font-size: 2em;
      color: #505050;
      text-align: center; }
    header .About .Roles {
      text-align: center;
      padding-top: 13px;
      list-style: none;
      color: #9d9d9d; }
      header .About .Roles li {
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid gainsboro; }
        header .About .Roles li:last-child {
          border: none; }
  header nav {
    margin: 0 !important; }
    header nav a {
      float: left;
      display: inline-block;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px 0;
      width: 20%;
      border: 2px solid transparent;
      font-size: 1.6em;
      text-align: center; }
      header nav a, header nav a:focus, header nav a:hover, header nav a:active, header nav a:visited, header nav a.Active {
        text-decoration: none; }
      header nav a.Active:before, header nav a.Active:after {
        margin: 0 5px;
        vertical-align: middle;
        color: #9d9d9d;
        text-shadow: none; }
      header nav a.Active:before {
        content: "<"; }
      header nav a.Active:after {
        content: "/>"; }
      header nav a.Overview {
        color: #9652ff;
        text-shadow: #200052 1px 1px 1px; }
        header nav a.Overview:hover, header nav a.Overview.Active {
          color: #6706FF; }
      header nav a.SkillsAndTech {
        color: #ff3654;
        text-shadow: #360008 1px 1px 1px; }
        header nav a.SkillsAndTech:hover, header nav a.SkillsAndTech.Active {
          color: #E80023; }
      header nav a.WorkHistory {
        color: #23ff5c;
        text-shadow: #002409 1px 1px 1px; }
        header nav a.WorkHistory:hover, header nav a.WorkHistory.Active {
          color: #00D637; }
      header nav a.Education {
        color: #40bafa;
        text-shadow: #02263a 1px 1px 1px; }
        header nav a.Education:hover, header nav a.Education.Active {
          color: #069AE8; }
      header nav a.ContactMe {
        color: #ffad52;
        text-shadow: #522b00 1px 1px 1px; }
        header nav a.ContactMe:hover, header nav a.ContactMe.Active {
          color: #FF8906; }

#Content {
  padding: 0 40px;
  font-size: 1.8em; }
  #Content > div {
    padding: 20px;
    border: 1px solid gainsboro;
    border-top: none;
    background-color: #fff;
    color: #505050; }
    #Content > div h1, #Content > div h2 {
      margin: 0 0 40px -40px;
      text-transform: lowercase; }
      #Content > div h1.normal-case, #Content > div h2.normal-case {
        text-transform: none; }
    #Content > div h1 > span, #Content > div h2 > span {
      display: inline-block;
      margin: 0;
      padding: 10px 0;
      border: 1px solid gainsboro;
      border-left: none;
      background-color: #f6f6f6;
      -moz-box-shadow: #e9e9e9 2px 2px 4px;
      -webkit-box-shadow: #e9e9e9 2px 2px 4px;
      box-shadow: #e9e9e9 2px 2px 4px; }
    #Content > div h1 {
      font-size: 2em; }
      #Content > div h1:nth-of-type(1n+2) {
        margin-top: 40px; }
      #Content > div h1 > span {
        padding: 10px 40px; }
      #Content > div h1 + h2, #Content > div h1 + h3 {
        margin-top: 0; }
    #Content > div h2 {
      margin: 40px 0 20px -30px;
      font-size: 1.6em; }
      #Content > div h2 > span {
        padding: 10px 30px; }
      #Content > div h2 + h3 {
        margin-top: 0; }
    #Content > div h3 {
      margin: 10px 0 0 0;
      font-size: 1.4em; }
    #Content > div h4 {
      margin: 5px 0 0 0;
      font-size: 1.2em; }
    #Content > div ul {
      margin: 10px 20px 10px 0; }
      #Content > div ul li {
        text-indent: -15px;
        list-style-type: none; }
        #Content > div ul li:before {
          position: relative;
          left: -10px;
          content: "\2013"; }
      #Content > div ul.blocks {
        margin: 0 0 0 20px;
        padding: 0; }
        #Content > div ul.blocks > li {
          position: relative;
          float: left;
          margin: 0 20px 20px 0;
          padding: 10px;
          width: 420px;
          height: 170px;
          border: 1px solid gainsboro;
          background-color: #f6f6f6;
          text-indent: 0;
          overflow: hidden;
          vertical-align: top; }
          #Content > div ul.blocks > li:before {
            content: none; }
          #Content > div ul.blocks > li:hover h3 a.visit {
            display: inline; }
          #Content > div ul.blocks > li h3 {
            font-size: 1.2em;
            margin: 0; }
            #Content > div ul.blocks > li h3 a.visit {
              display: none;
              margin-left: 5px;
              color: #d0d0d0;
              font-size: 0.5em; }
              #Content > div ul.blocks > li h3 a.visit:hover {
                color: #9d9d9d; }
          #Content > div ul.blocks > li .tagline {
            margin-bottom: 5px;
            font-size: 0.8em;
            color: #9d9d9d; }
          #Content > div ul.blocks > li .content {
            height: 82px;
            font-size: 0.8em;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; }
            #Content > div ul.blocks > li .content p {
              margin: 0; }
          #Content > div ul.blocks > li ul.features {
            position: absolute;
            margin: 0;
            padding: 0;
            bottom: 0;
            white-space: nowrap; }
        #Content > div ul.blocks.expertise li, #Content > div ul.blocks ul.features li {
          display: inline-block;
          margin: 0;
          padding: 5px;
          height: 20px;
          width: auto;
          text-indent: 0;
          line-height: 10px;
          border: 1px solid gainsboro;
          border-bottom: none;
          font-size: 0.6em;
          vertical-align: bottom;
          color: #fff;
          text-shadow: #040404 0 0 1px;
          text-align: center;
          cursor: default; }
          #Content > div ul.blocks.expertise li:before, #Content > div ul.blocks ul.features li:before {
            content: none; }
        #Content > div ul.blocks.expertise {
          position: relative; }
          #Content > div ul.blocks.expertise li {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            margin: 0;
            padding: 4px;
            text-align: center;
            vertical-align: middle; }
            #Content > div ul.blocks.expertise li span {
              display: inline-block;
              width: 100%;
              line-height: normal;
              vertical-align: middle;
              overflow: hidden; }
    #Content > div a, #Content > div a:link, #Content > div a:active, #Content > div a:visited, #Content > div a:hover {
      color: #505050;
      text-decoration: underline; }
    #Content > div a:hover {
      color: #040404; }
    #Content > div em, #Content > div .em {
      font-style: italic; }
    #Content > div section {
      clear: both; }
      #Content > div section .subsection {
        clear: both; }
      #Content > div section .history-item {
        clear: both; }
        #Content > div section .history-item h2 {
          text-transform: none; }
          #Content > div section .history-item h2 > span {
            display: block; }
          #Content > div section .history-item h2 .organization-link {
            visibility: hidden;
            color: #d0d0d0;
            font-size: 0.5em; }
            #Content > div section .history-item h2 .organization-link:hover {
              color: #9d9d9d; }
          #Content > div section .history-item h2:hover .organization-link {
            visibility: visible; }

footer {
  padding: 0 40px;
  font-size: 1.8em;
  margin-bottom: 40px; }
  footer > div {
    padding: 20px;
    border: 1px solid gainsboro;
    border-top: none;
    background-color: #e9e9e9; }
    footer > div .left-menu a {
      color: #9d9d9d; }
      footer > div .left-menu a, footer > div .left-menu a:focus, footer > div .left-menu a:hover, footer > div .left-menu a:active, footer > div .left-menu a:visited, footer > div .left-menu a.Active {
        text-decoration: none; }
      footer > div .left-menu a:hover, footer > div .left-menu a.Active {
        color: #838383; }
      footer > div .left-menu a:after {
        margin: 10px;
        content: "|";
        color: gainsboro; }
      footer > div .left-menu a:last-child:after {
        content: none; }

/*# sourceMappingURL=Site.css.map */