@import "Global.scss";

$overview-color: #6706FF;
$skills-and-tech-color: #E80023;
$work-history-color: #00D637;
$education-color: #069AE8;
$contact-me-color: #FF8906;
$main-menu-lighten: 15%;
$main-menu-shadow-darken: 35%;

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 100%;
    background-color: $primary-gray-5l;
    overflow-x: hidden;
    overflow-y: scroll;
}

@mixin Container {
    padding: 0 40px;
    font-size: 1.8em;
}

header {
    @include Container;
    position: relative;
    z-index: 100;
    padding-top: 20px;
    border-bottom: 1px solid $primary-gray-5d;
    background-color: $primary-gray;

    .About {
        margin: 0 !important;
        padding: 0 0 10px 0;
        border-bottom: 1px solid $primary-gray-5d;

        .Name {
            border-right: 1px solid $primary-gray-5d;
            font-size: 2em;
            color: $primary-gray-60d;
            text-align: center;
        }

        .Roles {
            text-align: center;
            padding-top: 13px;
            list-style: none;
            color: $primary-gray-30d;

            li {
                display: inline-block;
                padding: 0 10px;
                border-right: 1px solid $primary-gray-5d;

                &:last-child {
                    border: none;
                }
            }
        }
    }

    nav {
        margin: 0 !important;

        a {
            float: left;
            display: inline-block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 20px 0;
            width: 20%;
            border: 2px solid transparent;
            font-size: 1.6em;
            text-align: center;

            &,
            &:focus,
            &:hover,
            &:active,
            &:visited,
            &.Active {
                text-decoration: none;
            }

            &.Active:before,
            &.Active:after {
                margin: 0 5px;
                vertical-align: middle;
                color: $primary-gray-30d;
                text-shadow: none;
            }

            &.Active:before {
                content: "<";
            }

            &.Active:after {
                content: "/>";
            }

            &.Overview {
                color: lighten($overview-color, $main-menu-lighten);
                text-shadow: darken($overview-color, $main-menu-shadow-darken) 1px 1px 1px;

                &:hover,
                &.Active {
                    color: $overview-color;
                }
            }

            &.SkillsAndTech {
                color: lighten($skills-and-tech-color, $main-menu-lighten);
                text-shadow: darken($skills-and-tech-color, $main-menu-shadow-darken) 1px 1px 1px;

                &:hover,
                &.Active {
                    color: $skills-and-tech-color;
                }
            }

            &.WorkHistory {
                color: lighten($work-history-color, $main-menu-lighten);
                text-shadow: darken($work-history-color, $main-menu-shadow-darken) 1px 1px 1px;

                &:hover,
                &.Active {
                    color: $work-history-color;
                }
            }

            &.Education {
                color: lighten($education-color, $main-menu-lighten);
                text-shadow: darken($education-color, $main-menu-shadow-darken) 1px 1px 1px;

                &:hover,
                &.Active {
                    color: $education-color;
                }
            }

            &.ContactMe {
                color: lighten($contact-me-color, $main-menu-lighten);
                text-shadow: darken($contact-me-color, $main-menu-shadow-darken) 1px 1px 1px;

                &:hover,
                &.Active {
                    color: $contact-me-color;
                }
            }
        }
    }
}

#Content {
    @include Container;

    > div {
        padding: 20px;
        border: 1px solid $primary-gray-5d;
        border-top: none;
        background-color: #fff;
        color: $primary-gray-60d;

        h1,
        h2 {
            margin: 0 0 40px -40px;
            text-transform: lowercase;

            &.normal-case {
                text-transform: none;
            }
        }

        h1 > span,
        h2 > span {
            display: inline-block;
            margin: 0;
            padding: 10px 0;
            border: 1px solid $primary-gray-5d;
            border-left: none;
            background-color: $primary-gray-5l;
            -moz-box-shadow: $primary-gray 2px 2px 4px;
            -webkit-box-shadow: $primary-gray 2px 2px 4px;
            box-shadow: $primary-gray 2px 2px 4px;
        }

        h1 {
            font-size: 2em;

            &:nth-of-type(1n+2) {
                margin-top: 40px;
            }

            > span {
                padding: 10px 40px;
            }

            + h2,
            + h3 {
                margin-top: 0;
            }
        }

        h2 {
            margin: 40px 0 20px -30px;
            font-size: 1.6em;

            > span {
                padding: 10px 30px;
            }

            + h3 {
                margin-top: 0;
            }
        }

        h3 {
            margin: 10px 0 0 0;
            font-size: 1.4em;
        }

        h4 {
            margin: 5px 0 0 0;
            font-size: 1.2em;
        }

        ul {
            margin: 10px 20px 10px 0;

            li {
                text-indent: -15px;
                list-style-type: none;

                &:before {
                    position: relative;
                    left: -10px;
                    content: "\2013";
                }
            }

            &.blocks {
                margin: 0 0 0 20px;
                padding: 0;

                > li {
                    position: relative;
                    float: left;
                    margin: 0 20px 20px 0;
                    padding: 10px;
                    width: 420px;
                    height: 170px;
                    border: 1px solid $primary-gray-5d;
                    background-color: $primary-gray-5l;
                    text-indent: 0;
                    overflow: hidden;
                    vertical-align: top;

                    &:before {
                        content: none;
                    }

                    &:hover {
                        h3 a.visit {
                            display: inline;
                        }
                    }

                    h3 {
                        font-size: 1.2em;
                        margin: 0;

                        a.visit {
                            display: none;
                            margin-left: 5px;
                            color: $primary-gray-10d;
                            font-size: .5em;

                            &:hover {
                                color: $primary-gray-30d;
                            }
                        }
                    }

                    .tagline {
                        margin-bottom: 5px;
                        font-size: .8em;
                        color: $primary-gray-30d;
                    }

                    .content {
                        height: 82px;
                        font-size: .8em;
                        overflow: hidden;
                        -ms-text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;

                        p {
                            margin: 0;
                        }
                    }

                    ul.features {
                        position: absolute;
                        margin: 0;
                        padding: 0;
                        bottom: 0;
                        white-space: nowrap;
                    }
                }

                &.expertise li,
                ul.features li {
                    display: inline-block;
                    margin: 0;
                    padding: 5px;
                    height: 20px;
                    width: auto;
                    text-indent: 0;
                    line-height: 10px;
                    border: 1px solid $primary-gray-5d;
                    border-bottom: none;
                    font-size: .6em;
                    vertical-align: bottom;
                    color: #fff;
                    text-shadow: $primary-gray-90d 0 0 1px;
                    text-align: center;

                    &:before { content: none; }

                    &.cs:after { content: 'C#'; }
                    &.mvc:after { content: 'ASP.NET MVC'; }
                    &.webforms:after { content: 'ASP.NET Webforms'; }
                    &.mssql:after { content: 'MSSQL'; }
                    &.mysql:after { content: 'My SQL'; }
                    &.rails:after { content: 'Rails'; }
                    &.php:after { content: 'PHP'; }
                    &.wp:after { content: 'Windows Phone'; }
                    &.api:after { content: 'API'; }
                    &.winforms:after { content: 'Windows Forms'; }
                    &.html:after { content: 'HTML'; }
                    &.html5:after { content: 'HTML 5'; }
                    &.css:after { content: 'CSS'; }
                    &.css3:after { content: 'CSS 3'; }
                    &.bs:after { content: 'Bootstrap'; }
                    &.js:after { content: 'JS'; }
                    &.ko:after { content: 'Knockout'; }
                    &.ui-ux:after { content: 'UI/UX'; }
                    &.sl:after { content: 'Silverlight'; }
                }

                &.expertise {
                    position: relative;
                    height: 600px;

                    li {
                        position: absolute;
                        margin: 0;
                        width: 30px;
                        height: 30px;
                        min-width: 30px;
                        min-height: 30px;
                        vertical-align: middle;
                    }
                }
            }
        }

        .tech-items {
            li,
            span {
                &.cs { background-color: #DF0101; }
                &.mvc { background-color: #FFBF00; }
                &.webforms { background-color: #0101DF; }
                &.mssql { background-color: #DF01A5; }
                &.mysql { background-color: #2ECCFA; }
                &.rails { background-color: #12b44e; }
                &.php { background-color: #7401DF; }
                &.wp { background-color: #868A08; }
                &.api { background-color: #f7624e; }
                &.winforms { background-color: #522631; }
                &.html, &.html5 { background-color: #DF3A01; }
                &.css, &.css3 { background-color: #0B6121; }
                &.bs { background-color: #0174DF; }
                &.js { background-color: #DA81F5; }
                &.ko { background-color: #086A87; }
                &.ui-ux { background-color: #8A0829; }
                &.sl { background-color: #585858; }
            }
        }

        a,
        a:link,
        a:active,
        a:visited,
        a:hover {
            color: $primary-gray-60d;
            text-decoration: underline;
        }

        a:hover {
            color: $primary-gray-90d;
        }

        em,
        .em {
            font-style: italic;
        }

        section {
            clear: both;

            .subsection {
                clear: both;
            }

            .history-item {
                clear: both;

                h2 {
                    text-transform: none;

                    > span {
                        display: block;
                    }

                    .organization-link {
                        visibility: hidden;
                        color: $primary-gray-10d;
                        font-size: .5em;

                        &:hover {
                            color: $primary-gray-30d;
                        }
                    }

                    &:hover {
                        .organization-link {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

footer {
    @include Container;
    margin-bottom: 40px;

    > div {
        padding: 20px;
        border: 1px solid $primary-gray-5d;
        border-top: none;
        background-color: $primary-gray;

        .left-menu {
            a {
                color: $primary-gray-30d;

                &,
                &:focus,
                &:hover,
                &:active,
                &:visited,
                &.Active {
                    text-decoration: none;
                }

                &:hover,
                &.Active {
                    color: $primary-gray-40d;
                }

                &:after {
                    margin: 10px;
                    content: "|";
                    color: $primary-gray-5d;
                }

                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
}
