$primary-gray: #e9e9e9;
$overview-color: #6706FF;
$skills-and-tech-color: #E80023;
$work-history-color: #00D637;
$education-color: #069AE8;
$contact-me-color: #FF8906;
$main-menu-lighten: 15%;
$main-menu-shadow-darken: 35%;

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 100%;
    background-color: lighten($primary-gray, 5%);
    overflow-x: hidden;
    overflow-y: scroll;
}

@mixin Container {
    padding: 0 40px;
    font-size: 1.8em;
}

header {
    @include Container;
    position: relative;
    z-index: 100;
    padding-top: 20px;
    border-bottom: 2px solid darken($primary-gray, 10%);
    background-color: $primary-gray;

    .About {
        margin: 0 !important;
        padding: 0 0 10px 0;
        border-bottom: 1px solid darken($primary-gray, 5%);

        .Name {
            border-right: 1px solid darken($primary-gray, 5%);
            font-size: 2em;
            color: darken($primary-gray, 60%);
            text-align: center;
        }

        .Roles {
            text-align: center;
            padding-top: 13px;
            list-style: none;

            li {
                display: inline-block;
                padding: 0 10px;
                border-right: 1px solid darken($primary-gray, 5%);
                color: darken($primary-gray, 30%);

                &:last-child {
                    border: none;
                }
            }
        }
    }

    nav {
        margin: 0 !important;

        a {
            float: left;
            display: inline-block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 20px 0;
            width: 20%;
            border: 2px solid transparent;
            line-height: 1em;
            font-size: 3em;
            font-size: 1.5vw;
            text-align: center;

            &.Overview {
                color: lighten($overview-color, $main-menu-lighten);
                text-shadow: darken($overview-color, $main-menu-shadow-darken) 1px 1px 1px;

                &:hover,
                &.Active {
                    color: $overview-color;
                }
            }

            &.SkillsAndTech {
                color: lighten($skills-and-tech-color, $main-menu-lighten);
                text-shadow: darken($skills-and-tech-color, $main-menu-shadow-darken) 1px 1px 1px;

                &:hover,
                &.Active {
                    color: $skills-and-tech-color;
                }
            }

            &.WorkHistory {
                color: lighten($work-history-color, $main-menu-lighten);
                text-shadow: darken($work-history-color, $main-menu-shadow-darken) 1px 1px 1px;

                &:hover,
                &.Active {
                    color: $work-history-color;
                }
            }

            &.Education {
                color: lighten($education-color, $main-menu-lighten);
                text-shadow: darken($education-color, $main-menu-shadow-darken) 1px 1px 1px;

                &:hover,
                &.Active {
                    color: $education-color;
                }
            }

            &.ContactMe {
                color: lighten($contact-me-color, $main-menu-lighten);
                text-shadow: darken($contact-me-color, $main-menu-shadow-darken) 1px 1px 1px;

                &:hover,
                &.Active {
                    color: $contact-me-color;
                }
            }

            &:hover,
            &:active,
            &:visited,
            &.Active {
                text-decoration: none;
            }

            &.Active:before {
                content: "< ";
                vertical-align: text-bottom;
            }

            &.Active:after {
                content: " />";
                vertical-align: text-bottom;
            }
        }
    }
}

section#Content {
    @include Container;

    > div {
        padding: 20px;
        border: 1px solid darken($primary-gray, 5%);
        border-top: none;
        background-color: #fff;

        h1,
        h2 {
            margin: 0 0 40px -40px;
        }

        h1 > span,
        h2 > span {
            display: inline-block;
            margin: 0;
            padding: 10px 0;
            border: 1px solid darken($primary-gray, 5%);
            border-left: none;
            background-color: lighten($primary-gray, 5%);
            -moz-box-shadow: $primary-gray 2px 2px 4px;
            -webkit-box-shadow: $primary-gray 2px 2px 4px;
            box-shadow: $primary-gray 2px 2px 4px;
        }

        h1 {
            font-size: 2em;

            > span {
                padding: 10px 40px;
            }

            + h2 {
                margin-top: 0;
            }
        }

        h2 {
            margin: 40px 0 20px -30px;
            font-size: 1.6em;

            &.history-item > span {
                display: block;
            }

            > span {
                padding: 10px 30px;
            }
        }

        h3 {
            margin-top: 0;
            font-size: 1.4em;
        }

        h5 {
            margin-top: 0;
            font-size: 1.2em;
        }

        ul {
            li {
                text-indent: -15px;
                list-style-type: none;

                &:before {
                    position: relative;
                    left: -10px;
                    content: "\2013";
                }
            }
        }
    }
}
