@{
    ViewBag.Title = "overview";
}

<h2><span>objective</span></h2>
<p>To apply and grow my existing skillset in a challenging, fast-paced, and rewarding software engineering environment.</p>
<p>To bring a new level of efficiency and stability to software projects by utilizing the latest technologies and software engineering ideals.</p>

<h2><span>summary</span></h2>
<p>Highly skilled software engineer who prides himself on completing tasks on time while maintaining high quality standards and adhering to software development best practices.</p>
<ul>
    <li>Plan, research, estimate and develop solutions for Government contracts.</li>
    <li>Responsible for architecting and developing sophisticated SOAP and RESTful API (HealthIndicators.gov).</li>
    <li>Make and implement high-level decisions regarding overall application architecture, use and design.</li>
    <li>Design and develop entire SQL Server databases; inspect queries and apply performance updates as needed.</li>
    <li>Constantly learning new technologies, frameworks and tools.</li>
</ul>
