<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.net>
        <mailSettings>
            <smtp configSource="bin\Configuration\Local\SMTP.config" xdt:Transform="Replace" />
        </mailSettings>
    </system.net>
</configuration>