@{
    ViewBag.Title = "skills & tech";
}

@Html.DisplayForModel()

<!--
<h2><span>skills</span></h2>
<ul>
    <li>Bottom-up database design and development.</li>
    <li>Project & feature design and development.</li>
    <li>UI design and implementation.</li>
    <li>Clean, organized, efficient, reusable code.</li>
</ul>

<h2><span>technology</span></h2>
<ul>
    <li>.NET, C#, ASP.NET MVC, ASP.NET WebForms, Ruby on Rails, PHP, Java, Hibernate, Spring, Struts</li>
    <li>HTML 5, CSS 3, JavaScript, jQuery, Bootstrap, Knockout, Highcharts/Highmaps</li>
    <li>Visual Studio, Eclipse, NetBeans</li>
    <li>IIS, Apache, Nginx, Tomcat, Weblogic</li>
    <li>SQL Server, MySQL, Oracle</li>
    <li>Windows, Linux</li>
    <li>Networking, DNS, server management (Windows, Linux, Amazon Web Services)</li>
</ul>

<h2><span>hobbies</span></h2>
<ul>
    <li>Keeping up with the latest in software development.</li>
    <li>3D printing – QuantumConcepts on Thingiverse.com.</li>
    <li>General DIY and learning how things work.</li>
    <li>Technology, astronomy, travel, photography.</li>
</ul>
-->