@model JSM.Web.Models.Shared.Resume.Section

<div id="section_@this.Model.Key" class="section@(this.Model.Class.IsNullOrEmpty() ? "" : this.Model.Class)">
    <h1><span>@this.Model.Title</span></h1>

    @{Html.RenderPartial("DisplayTemplates/Content", this.Model.Content);}

    <div id="subsection_self-rankings" class="subsection">
        <h2><span>Self-rankings</span></h2>
        <p>I've compiled a list of the technologies with which I most often work. The relative size of each item indicates my level of expertise.</p>
        <p class="warning visible-xs">This works much better on a larger screen &mdash; trust me.</p>
        <ul class="expertise clearfix"></ul>
        <div class="text-center">
            <a id="toggle-expertise" class="visible-xs expertise-btn"><span class="glyphicon glyphicon-chevron-down"></span> <span class="text">show all</span> <span class="glyphicon glyphicon-chevron-down"></span></a>
        </div>
    </div>

    <div id="subsection_projects" class="subsection">
        <h2><span>Projects</span></h2>
        <p>Please find below a <em>small collection</em> of my work. I've highlighted my involvement on each project.</p>
        <ul class="blocks">
            <li>
                <h3>Health Indicators Warehouse (HIW)<a class="visit" href="http://healthindicators.gov" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></h3>
                <div class="tagline">Data Warehouse of health-related indicators - CDC/NCHS.</div>
                <div class="content">
                    <p>The HIW contains data from 125+ sources across 1,200+ health indicators. This project is part of the <a href="http://www.data.gov" target="_blank">Data.gov</a>'s <a href="http://www.whitehouse.gov/open" target="_blank">Open Data Initiative</a> and exposes massive amounts of publicly-consumable health-related data.</p>
                </div>
                <ul class="features tags" data-tags-keys="cs mssql html css js uiux"></ul>
            </li>

            <li>
                <h3>HIW Developers &amp; Services<a class="visit" href="http://developers.healthindicators.gov" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></h3>
                <div class="tagline">Over 1,000 RESTful (and SOAP) service methods.</div>
                <div class="content">
                    <p>Exposes data from the HIW. Custom CodeGenerator templates were used to generate the service methods and documentation. The system includes a real-time URL builder/service tester and API key registration/verification.</p>
                </div>
                <ul class="features tags" data-tags-keys="cs mssql html css bs js ko uiux"></ul>
            </li>

            <li>
                <h3>CodeGenerator<a class="visit" href="http://quantumconceptscorp.com/Products/CodeGenerator.aspx" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></h3>
                <div class="tagline">Develop stable, robust and highly versatile software, faster!</div>
                <div class="content">
                    <p>This tool allows you and your team to get the nuts and bolts of any project up and running amazingly fast. The backbone of CodeGenerator relies on XML and XSLT. You design an XSL Template once and CodeGenerator handles the rest.</p>
                </div>
                <ul class="features tags" data-tags-keys="cs winforms mssql mysql uiux"></ul>
            </li>

            <li>
                <h3>Platform Liberty</h3>
                <div class="tagline">Empowering candidates in the fight for liberty.</div>
                <div class="content">
                    <p>The goal of this project is to provide an inexpensive, easy-to-use web application for liberty candidates. This platform will be available to any candidate who is on the side of liberty - regardless of party their party affiliation. 10+ instances.</p>
                </div>
                <ul class="features tags" data-tags-keys="rails mysql html css bs js ko uiux"></ul>
            </li>

            <li>
                <h3>Carson for Congress<a class="visit" href="http://jeffreycarson.platformliberty.org" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></h3>
                <div class="tagline"></div>
                <div class="content">
                    <p>Built atop Platform Liberty and customized to fit the needs of Jeffrey Carson's 2014 Congressional campaign.</p>
                </div>
                <ul class="features tags" data-tags-keys="rails mysql html css bs js ko uiux"></ul>
            </li>

            <li>
                <h3>AeroBazaar<a class="visit" href="http://aerobazaar.com" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></h3>
                <div class="tagline">The most beautiful place to buy and sell aircraft online.</div>
                <div class="content">
                    <p>A robust aircraft listing engine allows potential aircraft buyers to easily find what they're looking for. Sellers can manage their inventory and add detailed information for each of their aircraft.</p>
                </div>
                <ul class="features tags" data-tags-keys="php mysql html css bs js ko uiux"></ul>
            </li>

            <li>
                <h3>7Flix<a class="visit" href="http://quantumconceptscorp.com/Products/7Flix.aspx" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></h3>
                <div class="tagline">A full-featured Netflix client for Windows Phones.</div>
                <div class="content">
                    <p>Although this app is no longer available, since Netflix ditched their public API, it was the most complete Netflix client on the platform at the time. It included queue management features and the ability to search and browse the entire Netflix library.</p>
                </div>
                <ul class="features tags" data-tags-keys="cs wp sl uiux"></ul>
            </li>

            <li>
                <h3>SuperTrition</h3>
                <div class="tagline">Online nutritional supplement and fitness store.</div>
                <div class="content">
                    <p>A custom e-commerce backend including a full-featured shopping cart with Paypal, Google Checkout, VeriSign Payment Services (now Paypal), UPS and USPS integration. Custom order processor to monitor fulfillment and shipment status.</p>
                </div>
                <ul class="features tags" data-tags-keys="cs mssql html css js uiux"></ul>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $document.ready(function () {
        $("ul.tags").tags();

        $("ul.expertise").expertise({
            minSize: 30,
            maxSize: 150,
            fixedHeight: 60,
            layouts: function () {
                var layouts = {};

                layouts[ExpertiseLayoutMode.Linear] = {
                    options: new LinearLayoutOptions({
                        linePerLevel: false
                    })
                };

                return layouts;
            }()
        });

        $("#toggle-expertise").click(function () {
            var $togglExpertise = $(this);
            var $togglExpertiseText = $togglExpertise.children(".text");
            var $togglExpertiseIcon = $togglExpertise.children(".glyphicon");
            var $expertise = $("ul.expertise");
            var show = !$expertise.hasClass("all");

            $togglExpertiseText.text(show ? "show less" : "show all");
            $togglExpertiseIcon.toggleClass("glyphicon-chevron-down", !show);
            $togglExpertiseIcon.toggleClass("glyphicon-chevron-up", show);
            $expertise.toggleClass("all", show);
        });
    });
</script>
