@model JSM.Web.Models.Shared.Resume.Subsection

<div class="subsection@(this.Model.Class.IsNullOrEmpty() ? "" : " {0}".FormatString(this.Model.Class))">
    <h2><span>@this.Model.Title</span></h2>

    @{Html.RenderPartial("DisplayTemplates/Content", this.Model.Content);}
</div>