@{
    ViewBag.Title = "work history";
}

@Html.DisplayForModel()

<!--
<h2 class="history-item">
    <span class="row">
        <span class="col-md-3">5/2010 - Present</span>
        <span class="col-md-6 text-center">Social &amp; Scientific Systems, Inc.</span>
        <span class="col-md-3 text-right">Silver Spring, Maryland</span>
    </span>
</h2>
<h3>Senior Software Engineer</h3>
<ul>
    <li>Selected amongst hundreds of employees to attend in-house Leadership Training instructed by the executive team.</li>
    <li>Lead developer for the Health Indicators Warehouse (HealthIndicators.gov) and other government and private applications.</li>
    <li>Senior Developer responsible for system and database design as well as UI design and implementation.</li>
    <li>Work with database team in order to make performance updates (indexes, etc.) and recommend structural changes.</li>
    <li>Deploy to QA, UAT and Production environments and manage all servers from initial configuration onward.</li>
    <li>Develop unified build process and documentation for performing deployments.</li>
</ul>

<h2 class="history-item">
    <span class="row">
        <span class="col-md-3">11/2008 - Present</span>
        <span class="col-md-6 text-center">Quantum Concepts Corporation</span>
        <span class="col-md-3 text-right">Leesburg, Virginia</span>
    </span>
</h2>
<h3>Owner</h3>
<ul>
    <li>Research, design, develop, test and deploy software for the Windows Phone platform.</li>
    <li>Write applications using the .NET Compact Framework.</li>
    <li>Develop and release custom code generation tool, CodeGenerator (TheCodeGenerator.com) which provides a huge boost to team productivity as well as code stability and versatility.</li>
</ul>

<h2 class="history-item">
    <span class="row">
        <span class="col-md-3">11/2008 - 11/2009</span>
        <span class="col-md-6 text-center">Corporate Executive Board</span>
        <span class="col-md-3 text-right">Arlington, Virginia</span>
    </span>
</h2>
<h3>Software Consultant</h3>
<ul>
    <li>Full life-cycle design and development for system to generate reports and benchmarks based on survey data.</li>
    <li>Built on ASP.NET 3.5/WebForms, SQL Server 2005/2008, Aspose.Slides (dynamic PPT altering tool), Dundas Charts.</li>
    <li>Survey data consumption, configuration, calculation, and reporting.</li>
    <li>Ability to perform Dynamic Reporting based on user-selected demographic elements.</li>
    <li>Develop web interface wrapper to interact with survey data provider.</li>
</ul>

<h2 class="history-item">
    <span class="row">
        <span class="col-md-3">2/2005 - 4/2010</span>
        <span class="col-md-6 text-center">Avenity, Inc.</span>
        <span class="col-md-3 text-right">Reston, Virginia</span>
    </span>
</h2>
<h3>Senior Software Developer</h3>
<ul>
    <li>
        Local Government Revenue Management System,  .NET Framework:
        <ul>
            <li>Design, develop, and unit test complex client/server software supplications using both .NET Remoting and Web Services API layers.</li>
            <li>Utilize and improve a custom code generator to generate data objects and API layers.</li>
            <li>Implement customizations in external DLLs for each client.</li>
            <li>Create and enhance SQL Server Reporting Services reports as well as develop Custom (ad-hoc) Reporting engine.</li>
            <li>Lead developer for related public-facing web site.</li>
            <li>Design and implement workflow/processing queue.</li>
            <li>Performance and memory optimization throughout enterprise-level software package.</li>
        </ul>
    </li>
    <li>
        Compensation Analysis System, J2EE & Weblogic:
        <ul>
            <li>Develop complex web application and Windows services using Java/J2EE platform.</li>
            <li>Create and refine complex SQL queries, stored procedures and views on Oracle platform.</li>
            <li>Lead developer on multiple software iterations.</li>
        </ul>
    </li>
    <li>
        General:
        <ul>
            <li>Go-to-guy for network and server configuration; implemented custom VOIP solution (Asterisk); developed in-house time-tracking system; presented software development training courses to other employees; excellent evaluations each year.</li>
        </ul>
    </li>
</ul>
-->