@{
    ViewBag.Title = "education";
}

<h2 class="history-item">
    <span class="row">
        <span class="col-md-3">8/2000 - 12/2004</span>
        <span class="col-md-6 text-center">Champlain College</span>
        <span class="col-md-3 text-right">Burlington, Vermont</span>
    </span>
</h2>
<ul>
    <li>Received a Bachelor Degree in Software Engineering in December 2004.</li>
    <li>Received an Associate Degree in Software Development in December 2003.</li>
    <li>Software-related courses focused on hands-on skills in addition to theory.</li>
    <li>Selected to be a tutor in the Programming Lab.</li>
</ul>