@using JSM.Web.Models.Shared;

<p>If you'd like to get in touch with me, please send me an email:</p>

@{Html.RenderPartial("_InfoSlider", new InfoSliderModel() {
    Id = "emailSlider",
    Label = "Email"
});}

<script type="text/javascript">
	var emailSliderCallbackExecuted = false;

    function sliderCallback(url, contentCallback) {
        var $sliderElement = this;

        $.post(url, function (data) {
            var infoSlider = $sliderElement.getInfoSlider();

            infoSlider.onSliding = null;
            infoSlider.setContent(contentCallback instanceof Function ? contentCallback(data) : data);
        });
    }

    function emailSliderCallback() {
        var $emailSlider = $("#emailSlider");

		if (!emailSliderCallbackExecuted) {
			sliderCallback.call($emailSlider, "@Url.Action("GetEmail", "ContactMe")", function (data) {
				return $("<a>")
					.text(data)
					.attr("href", "mailto:" + data);
			});
		}

		emailSliderCallbackExecuted = true;
    }

    $(document).ready(function () {
        var $emailSlider = $("#emailSlider");

        $emailSlider.infoSlider(emailSliderCallback);
    });
</script>