@model JSM.Web.Models.Shared.Resume.Resume

@{
    ViewBag.Title = "Résumé of {0}".FormatString(this.Model.DisplayName);
}

@{Html.RenderPartial("~/Views/Overview/_Content.cshtml", this.Model.FindSection("overview"));}

@foreach (var section in this.Model.Sections.Where(o => o.Key != "overview")) {
    @Html.DisplayFor(m => section)
}

<div id="section_contact-me" class="section">
    <h1><span>Contact Me</span></h1>
    @{Html.RenderPartial("~/Views/ContactMe/_ContactInfo.cshtml");}
</div>